
.contactListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 2px;
  }

  input {
    padding: 5px;
  }

  ul {
    padding: 10px;

    li {
      margin: 5px;

      .info {
        display: grid;
        grid-template-columns: 5fr 4fr 2fr;
      }
    }

    .delete {
      color: red;
      font-weight: 600;
      margin: 0 10px;
      cursor: pointer;
    }
  }
}
